/* TC System Branding */

/* NUCLEAR OPTION: Hide ALL items in Help Menu */
.dropdown-help .dropdown-menu>li,
.dropdown-help .dropdown-menu>a {
    display: none !important;
}

/* NUCLEAR EXCEPTION: Show ONLY our safe items */
.dropdown-help .dropdown-menu>li.tc-safe,
.dropdown-help .dropdown-menu>a.tc-safe {
    display: block !important;
}

/* Ensure branding fits */
.navbar {
    /* background-color: #007bff !important; */
}